@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@font-face {
  font-family: 'Agrandir';  /* The name of your font */
  src: url('./fonts/Agrandir-GrandHeavy.otf') format('opentype'); 
  font-weight: normal,bold,bolder; /* Adjust the path */

  font-family: 'Agrandir1';  /* The name of your font */
  src: url('./fonts/Agrandir-GrandLight.otf') format('opentype'); 
  font-weight: normal,bold,bolder; /* Adjust the path */

  
  font-family: 'Agrandir2';  /* The name of your font */
  src: url('./fonts/Agrandir-Tight.otf') format('opentype'); 
  font-weight: normal,bold,bolder; /* Adjust the path */

  font-family: 'PPTelegraf';  /* The name of your font */
  src: url('./fonts/PPTelegraf-Regular.otf') format('opentype'); 
  font-weight: normal,bold,bolder; /* Adjust the path */

  
  font-family: 'AURA_DEMO';  /* The name of your font */
  src: url('./fonts/AURA_DEMO.ttf') format('typetype'); 
  font-weight: normal; /* Adjust the path */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.custom-height {
  height: 550px; /* Set your desired height */
}

.custom-left-margin {
  margin-left: 150px; /* Custom left margin of 80px */
}

.custom-radius
{
  border-radius: 50px;
}

.custom-radiusF
{
  border-radius: 30px;

}

.custom-radiusI
{
  border-radius: 10px;

}